<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="referrer" content="no-referrer"/>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script type="text/javascript" src="/js/wangEditor.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <index-head :half="half" :search="search" @indexback="indexback"></index-head>
    <div class="create_blog_body">
        <div class="create_blog_title">
            <el-input placeholder="请输入标题" v-model="blogTitle" maxlength="20"
                      show-word-limit>
            </el-input>
        </div>
        <div class="create_blog_label">
            <el-input placeholder="请输入标签" v-model="blogLabel" maxlength="10"
                      show-word-limit>
            </el-input>
        </div>
        <div id="editor_body"></div>
        <div class="create_button">
            <el-button @click="createBlog" type="primary"><i class="el-icon-check"></i>&nbsp;创建</el-button>
        </div>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            half: true,
            search: "false",
            blogTitle: "",
            blogLabel: ""
        },
        created: function () {
            screenWidth = document.body.clientWidth;
            if (screenWidth <= 1080) {
                var html = document.getElementsByTagName("html")[0]
                html.style.fontSize = screenWidth / 32 + 'px';
                this.half = false;
            }
        },
        mounted() {
            window.onresize = () => {
                screenWidth = document.body.clientWidth;
                var html = document.getElementsByTagName("html")[0]
                if (screenWidth <= 1080) {
                    html.style.fontSize = screenWidth / 32 + 'px';
                    this.half = false
                } else {
                    html.style.fontSize = 18 + 'px';
                    this.half = true
                }
            }
        },
        methods: {
            indexback: function () {
                window.location.href = "/index.html";
            },
            links: function () {
                window.location.href = "/links.html";
            },
            createBlog: function () {
                if (this.blogTitle.trim().length <= 0) {
                    alert("标题不能为空")
                    return
                }
                if (this.blogLabel.trim().length <= 0) {
                    alert("标签不能为空")
                    return
                }
                var bewrite = editor.txt.text();
                bewrite = bewrite.replace(/&nbsp;/g, '').trim().slice(0, 100);
                axios.post("/BlogContentController/insertBlog", {
                    blogTitle: this.blogTitle,
                    blogLabel: this.blogLabel,
                    blogText: editor.txt.html(),
                    blogBeWrite: bewrite
                }).then((res) => {
                    alert(res.data.resultMsg)
                })
                    .catch(() => {
                        alert("未知错误")
                    });
                this.blogTitle = "";
                this.blogLabel = "";
                editor.txt.html("");
            }
        }
    })
    var E = window.wangEditor
    var editor = new E( '#editor_body')
    editor.customConfig.zIndex = 10
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.create()
</script>
<style>
    .create_blog_body {
        width: 50%;
        margin: auto;
        margin-top: 100px;
    }

    .create_blog_title {
        margin-bottom: 20px;
    }

    .create_blog_label {
        margin-bottom: 20px;
    }

    .create_button {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    #editor_body {
        background-color: white;
    }
</style>
</html>