<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="/css/main.css">
<script src="/js/main.js"></script>
<script src="/js/indexSakula.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <index-head :search="search" @indexback="indexback" @links="links" @searchblog="searchblog"></index-head>
    <div class="index_center_body">
        <div>
            <el-carousel :interval="3000" type="card" height="250px" trigger="click">
                <el-carousel-item v-for="item in 6" :key="item" style="text-align: center">
                    <img class="title_img" :src="src+item" style="width:100%;min-height: 100%">
                    <h3 class="medium">{{ item }}</h3>
                </el-carousel-item>
            </el-carousel>
        </div>
        <div style="width:26%;height:auto;float: left;margin-right: 3%">
            <el-card class="fenleiCard top_margin">
                <i class="el-icon-s-data"></i>&nbsp;网站统计
                <hr style="margin-top: 10px;margin-bottom:10px;border: 0.5px solid  rgba(0, 0, 0, .12)">
                <div>
                    <ul>
                        <li>
                            <el-tag style="border-color:#cfdadd" effect="dark" color="#cfdadd">
                                <i class="el-icon-s-opportunity"></i>&nbsp;运行天数： {{run_days}} 天
                            </el-tag>
                        </li>
                        <li>
                            <el-tag style="border-color:#cfdadd" effect="dark" color="#cfdadd">
                                <i class="el-icon-notebook-2"></i>&nbsp;文章数量： {{text_count}} 篇
                            </el-tag>
                        </li>
                        <li>
                            <el-tag style="border-color:#cfdadd" effect="dark" color="#cfdadd">
                                <i class="el-icon-refresh"></i>&nbsp;最后更新： {{refresh_date}}
                            </el-tag>
                        </li>
                    </ul>
                </div>
            </el-card>
            <el-card class="fenleiCard top_margin">
                <i class="el-icon-menu"></i>&nbsp; 分类
                <hr style="margin-top: 10px;margin-bottom:10px;border: 0.5px solid  rgba(0, 0, 0, .12)">
                <el-tag style="border-color:#cfdadd" effect="dark" color="#cfdadd" v-for="label in labels">
                    {{label}}
                </el-tag>
            </el-card>
        </div>
        <div class="index_body">
            <el-card class="box-card top_margin" v-for="title_msg in title_msgs">
                <div class="card" @click="jumpBlog(title_msg.id)" style="width: 100%;height: 110px">
                    <div style="width: 35%;height: 110px;overflow: hidden;float: left;text-align: center">
                        <img class="title_img" :src="title_msg.imgSrc" style="width:100%;min-height: 100%">
                    </div>
                    <div class="changeColor" style="width: 63%;height:110px;float: right;">
                        <h3 style="height: 30px;text-overflow: ellipsis;white-space:nowrap;overflow: hidden">
                            <el-tag style="border-color:lightpink" effect=dark size=small color=lightpink>
                                {{title_msg.label}}
                            </el-tag>
                            {{title_msg.blog_title}}
                        </h3>
                        <div style="padding: 12px 0px;height: 55px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden">
                            {{title_msg.blog_text}}
                        </div>
                    </div>
                </div>
                <hr style="margin-top: 10px;margin-bottom:10px;border: 0.5px solid  rgba(0, 0, 0, .12)">
                <i class="el-icon-user-solid"></i>&nbsp;{{title_msg.userName}}&nbsp;
                <i class="el-icon-view"></i>&nbsp;{{title_msg.lookNum}}&nbsp;
                <i class="el-icon-date"></i>&nbsp;{{title_msg.createDate}}
            </el-card>
        </div>
    </div>
    <div style="width: 100%;height: 70px;text-align: center;margin-top: 30px">
        <el-pagination
                background
                layout="prev, pager, next"
                :total="total"
                :current-page="pageNum"
                page-size="5"
                @prev-click="pageClick"
                @next-click="pageClick"
                @current-change="pageClick"
        >
        </el-pagination>
    </div>
    <index-tail></index-tail>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            search: '',
            pageNum: 1,
            total: 0,
            labels: [],
            title_msgs: [],
            run_days: 0,
            text_count: 0,
            refresh_date: '',
            src: 'http://www.dmoe.cc/random.php?time='
        },
        created() {
            this.loadBlog();
            this.loadLabel();
        },
        methods: {
            jumpBlog: function (id) {
                window.location.href = "/blog_text.html?id=" + id;
            },
            pageClick: function (value) {
                if (this.pageNum != value) {
                    this.pageNum = value;
                    this.loadBlog();
                }
            },
            indexback: function () {
                window.location.href = "/index.html";
            },
            links:function(){
                window.location.href = "/links.html";
            },
            searchblog:function(){
                alert(1)
            },
            loadBlog: function () {
                this.title_msgs = [];
                axios.post("/BlogContentController/selectBlogList", {
                    pageNum: this.pageNum,
                    pageSize: 5,
                }).then((res) => {
                    var resData = res.data.resultData;
                    for (var x = 0; x < resData.list.length; x++) {
                        var showData = {
                            userName: "AI",
                            lookNum: resData.list[x].blogLookAmount,
                            createDate: resData.list[x].gmtCreate,
                            imgSrc: "http://www.dmoe.cc/random.php?time=" + x,
                            blog_title: resData.list[x].blogTitle,
                            blog_text: resData.list[x].blogBeWrite,
                            id: resData.list[x].id,
                            label: resData.list[x].blogLabel
                        }
                        Vue.set(this.title_msgs, x, showData);
                    }
                    if (this.pageNum == 1) {
                        var startDate = Date.parse("2019-09-01");
                        var nowDate = Date.parse(new Date());
                        var day = parseInt((nowDate - startDate) / (1000 * 60 * 60 * 24));
                        this.text_count = resData.total;
                        this.run_days = day;
                        this.refresh_date = resData.list[0].gmtCreate;
                        this.total = resData.total;
                    }
                }).catch((err) => {
                    alert("未知错误")
                });
            },
            loadLabel: function () {
                axios.get("/BlogContentController/selectBlogCategory", {}).then((res) => {
                    var resData = res.data.resultData;
                    console.log(resData)
                    for (var x = 0; x < resData.length; x++) {
                        Vue.set(this.labels, x, resData[x]);
                    }
                }).catch((err) => {
                    alert("未知错误")
                });
            }
        }
    })
</script>
</body>
<style>
    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 200px;
        margin: 0;
    }

    ul li {
        list-style: none;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }


    .card:hover {
        cursor: pointer;
    }

    .fenleiCard {
        height: 280px;
    }

    .title_img {
        transition: all 1s;
    }

    .box-card:hover .changeColor {
        color: lightblue;
    }

    .box-card:hover .title_img {
        transform: scale(1.5);
    }

    .index_body {
        float: right;
        width: 70%;
        height: auto;
    }

    .box-card {
        height: 180px;
        width: 100%;
    }

    .top_margin:not(:first-child) {
        margin-top: 20px;
    }

    .box-card:hover {
        box-shadow: -3px 6px 15px rgba(0, 0, 0, .20), 0px 6px 15px rgba(0, 0, 0, .04);
    }

    .fenleiCard:hover {
        color: lightblue;
        box-shadow: -3px 6px 15px rgba(0, 0, 0, .20), 0px 6px 15px rgba(0, 0, 0, .04);
    }

    .fenleiCard span {
        margin-top: 10px;
        margin-left: 5px;
    }

    .index_center_body {
        overflow: hidden;
        width: 50%;
        margin: 80px auto 0px auto;
        padding: 20px;
    }
</style>
</html>