* {
    font-family: Arial;
    padding: 0px;
    margin: 0px;
}
html{

    background-color: rgb(243, 243, 243);
}
.index_head {
    line-height: 80px;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .12);
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    z-index: 100;
}
.index-button {
    float: left;
}

.index-button:hover {
    color: red;
    cursor: pointer;
}
.links-button {
    float: left;
}

.links-button:hover {
    color: red;
    cursor: pointer;
}
.search-button{
    width: 400px;
    height: 60px;
    float: right;
    margin-right: 25%;
}
.search-button:hover {
    cursor: pointer;
}